// destination.pug
section#destination
    .top-destination-container
        h2 TOP DESTINATION
    .image-container
        img(src="./images/destination.jpg", alt="Intro Image")
        .image-overlay
            h2
                a(href="#" class="review-link") TRY MORE WITH ME
            