footer.footer
  .footer-content
    p © 2023 My Website. All rights reserved.
    .social-icons
      a(href="#" class="social-icon")
        img(src="./images/fb.png" alt="Facebook")
      a(href="#" class="social-icon")
        img(src="./images/Instagram.png" alt="Instagram")
      a(href="#" class="social-icon")
        img(src="./images/Pin.png" alt="Pinterest")
