section.intro-section
  img.intro-image(src="./images/Golden_Gate.jpg", alt="Intro Image")
  .intro-text
    h2 
      a(href="#") Review of Golden Gate Bridge from blogger Raya
    p.by-raya By Raya
