// destination.pug
section#destination
    .top-destination-container
        h2 YOU WANT MORE?
    .image-container
        img(src="./images/other.jpg", alt="Intro Image")
       
        .image-overlay
            h2
                a(href="https://www.youtube.com/@VanessaTiiu" class="link_blog") FIND MORE HERE
            